* {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

body {
    width: auto;
    margin-left: 60px;
    margin-right: 50px;
}

header h1, main .comment-input, footer p {
    float: left;
    width: 33%;
}

header p, main .comment {
    width: 60%;
    float: right;
}

header {
    margin-bottom: 30px;
    margin-top: 10px;
    overflow: auto;
}

main {
    margin: auto;
    overflow: auto;
}

footer {
    overflow: auto;
}

main .comment p {
    margin-bottom: 20px;
    padding: 10px 350px 10px 10px;
    border-radius: 5px;
}

.comment p:nth-child(even) {
    background: lavender;
}

.comment p:nth-child(odd) {
    background: gainsboro;
}

main input {
    margin-top: 15px;
    height: 30px;
    width: 260px;
}

main button {
    height: 40px;
    width: 30px;
    background: lightblue;
}